:root {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: fade-up .5s;
}

header {
    animation: fade-down .8s .7s backwards;
    position: fixed;
    min-height: 75px;
    padding: 0px 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

#header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%0;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

#header:hover::before {
    left: 100%;
}

.logo {
    width: 30vw;
}

nav > ul {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0045e5;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 700px;
    padding: 100px 20px 50px;
}

iframe {
    margin-top: 25px;
    border-radius: 10px;
}

.subheading {
    margin-top: 20px;
}

hr {
    border: 2.5px solid #0045e5;
    border-radius: 10px;
    width: 75%;
    margin: auto;
}

#resources {
    margin-top: 50px;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-gap: 48px;
    grid-row-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 720px;
    margin-bottom: 46px;
    margin-left: auto;
    margin-right: auto;
}

#video-editing, #podcasting, #screen-recording, #transcription, #clip-creation, #publishing {
    text-align: center;
    border: 2px solid #f2f2f2;
    border-radius: 10px;
    flex-direction: column;
    padding: 30px 20px;
    display: flex;
}

#video-editing:hover, #podcasting:hover, #screen-recording:hover, #transcription:hover, #clip-creation:hover, #publishing:hover {
    border: 2px solid #0045e5;
    cursor: pointer;
}

h2 {
    padding-top: 10px;
    font-size: 18px;
}

.lighter {
    padding-top: 15px;
    color: #858585;
}

#pricing {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #f2f2f2;
}

.card:hover {
    border: 2px solid #0045e5;
    cursor: pointer;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card ul li img {
    margin-right: 10px;
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
}

#pricing h1 {
    text-align: center;
    margin-bottom: 10px;
}

#free h2, h3 {
    text-align: center;
    margin-bottom: 10px;
}

#creator h2, h3 {
    text-align: center;
}

#pro h2, h3 {
    text-align: center;
    margin-bottom: 10px;
}

#join {
    margin-top: 50px;
    text-align: center;
}

#join h1 {
    text-align: center;
}


#form {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

#email {
    border: 2px solid #0045e5;
    border-radius: 5px;
    width: 250px;
    height: 25px;
}

::placeholder {
    padding: 5px;
    font-style: italic;
}

#submit {
    border: 2px solid #0045e5;
    width: 80px;
    height: 25px;
    cursor: pointer;
    border-radius: 5px;
}

#submit:hover {
    border: 2px solid black;
    color: white;
    background-color: #0045e5;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@media only screen and (max-width: 1200px) {
    header {
        padding: 0 100px;
    }
}

@media only screen and (max-width: 1000px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 800px) {
    header {
        width: 100%;
        padding: 0 20px;
    }

    .logo {
        width: 200px; /* Adjust as needed */
    }

    nav > ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    nav > ul > li {
        flex-grow: 1; /* Make each list item grow to fill the available space */
    }

    #about {
        height: auto;
        padding: 100px 20px 50px;
    }

    iframe {
        width: 100%;
        height: 300px; /* Adjust as needed */
    }

    #resources {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        display: flex;
        justify-content: center; /* Center cards horizontally */
        flex-direction: column;
        align-items: center; /* Center cards vertically */
    }

    #resources > div {
        width: 50%; /* Adjust card width */
    }

    .card-container {
        width: 100%;
        display: flex;
        justify-content: center; /* Center cards horizontally */
        flex-direction: column;
        align-items: center; /* Center cards vertically */
    }

    .card {
        width: 50%;
    }

    #join {
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 150px; /* Adjust as needed */
    }

    nav > ul {
        width: 80%;
    }

    iframe {
        height: 200px; /* Adjust as needed */
    }

    #resources {
        grid-template-columns: repeat(1, 1fr);
    }
}